:root {
    --product-image-height: 23rem;
    --product-image-width: 18rem;
    --product-article-padding: 2rem;
    --main-margin-top: 6rem;
    --title-height:4rem;
    --modal-margin-top:10rem;
}

.my_modal {
    display: none;
    /* by default hidden*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.247);
    transition: transform 500ms;






}

.loginFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal_content {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    opacity: 1;
    width: 30rem;
    border-radius: 2.5rem;




}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.432), rgba(0, 0, 0, 0.3));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}

.loginContainer {
    width: 20rem;
    height: 31rem;


}

.close:hover {
    color: gold;
}

.pointer:hover {
    cursor: pointer;

}


.product-image {
    width: var(--product-image-width);
    height: var(--product-image-height);
    padding: var(--product-article-padding);
}

.product-article {
    padding: var(--product-article-padding);
}

.main-margin-top {
    margin-top: var(--main-margin-top);
}

.w-100 {
    width: 100%;
}


#style-6::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.scrollbar
{

	float: left;



	overflow-y: scroll;

}
#style-6::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent)
}

.title-h{
height: var(--title-height);
}


.scale:hover{
    transition: 200ms;
    transform: scale(1.25);
    
}
.scale{
    transition: 200ms;
}
.selected{
    font-weight: bold;
}
.nav-item:hover{
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
}

a::before{
    display: block;
    content: attr(text-data);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.btn-circle{
    background-color: #f5f5f500;
    border: 0px solid white;
}

.cat_icon:hover{
    color: #F90;
}
.cat_icon{
    color: #FFC107;
}

.mt-d{
    margin-top:var(--modal-margin-top) ;
}

.embed-responsive {
    position: relative;
}
.bgTransparant{
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.244);

    width: 100%;
    height: 30rem;
}
.textTransparant {
    position: absolute;
    top: 10rem;
    right: 35rem;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    z-index: 1;
    font-size: 5rem;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(246, 255, 0), 0 0 0.2em rgb(255, 179, 0);
}