{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<main class="product-article">
    <div class="row ">
        <div class="col-sm-4 border text-center "><img src="{% static 'img/products/100.jpg' %}" id="product-image"
                class="product-image" alt="..."></div>
        <div class="col-sm-8 border ">
            <article class="product-article">
                <h3>Product Name</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor laboriosam vitae eos, dolores
                    voluptate magnam nemo dolorem ipsa vel architecto neque illo natus maiores nobis odio sint repellat
                    qui ducimus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis et impedit
                    assumenda eaque quod accusantium eligendi totam? Porro et expedita veritatis magnam illum eum
                    excepturi quos libero unde corrupti a nobis iusto in ipsa quae impedit eveniet animi odit possimus,
                    hic asperiores? Ex ab error voluptatum aspernatur, officiis molestiae commodi.</p>

            </article>
        </div>
    </div>
</main>