<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>index page</title>
    {% load static %}
    <!-- {% csrf_token %} -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->

    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body style="background-color: rgba(44, 42, 61, 0.073);">
    <!-- NavBar Section -->
    {% include "navbar.html" %}

    <!-- Video Section -->
    <div id="home-intro-vid-wrap" class=" d-flex align-items-center mb-3">
        <video src="{% static 'img/products/gilar-tlv2.mp4'%}" class="object-fit-fill" autoplay="autoplay" loop="loop"
            muted="muted" style="width: 100%; height: 30rem;"></video>
    </div>
    <div class="container pb-2 mb-3 pt-2 shadow" style="background-color: rgb(255, 255, 255);">


        <!-- Modal Section -->
        <div id="my_modal" class="my_modal">
            <div class="loginFlex">
                <div class="modal_content glass">
                    
                    <hr>
                    {% include 'login.html' %}
                </div>
            </div>
        </div>

        <!-- Cards  -->

        <main class="mt-5 mb-5">

            <div class="row mb-5">
                <div class="col-sm-3">
                    <div class="card d-flex align-items-center shadow " style="width: 18rem;">
                        <img src="{% static 'img/products/100.jpg' %}" class="card-img-top "
                            style="width: 10rem; height: 15rem;" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card d-flex align-items-center shadow " style="width: 18rem;">
                        <img src="{% static 'img/products/200.jpg' %}" style="width: 10rem; height: 15rem;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card d-flex align-items-center shadow " style="width: 18rem;">
                        <img src="{% static 'img/products/300.png' %}" style="width: 10rem; height: 15rem;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card d-flex align-items-center shadow " style="width: 18rem;">
                        <img src="{% static 'img/products/100.jpg' %}" class="card-img-top "
                            style="width: 10rem; height: 15rem;" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card d-flex align-items-center shadow " style="width: 18rem;">
                        <img src="{% static 'img/products/100.jpg' %}" class="card-img-top "
                            style="width: 10rem; height: 15rem;" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card d-flex align-items-center shadow " style="width: 18rem;">
                        <img src="{% static 'img/products/200.jpg' %}" style="width: 10rem; height: 15rem;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card d-flex align-items-center shadow " style="width: 18rem;">
                        <img src="{% static 'img/products/300.png' %}" style="width: 10rem; height: 15rem;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card d-flex align-items-center shadow " style="width: 18rem;">
                        <img src="{% static 'img/products/100.jpg' %}" class="card-img-top "
                            style="width: 10rem; height: 15rem;" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
    {% include "footer.html" %}

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script></body> -->
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="{% static 'Js/script.js' %}">
    </script>

</body>


</html>