<!-- Navbar  -->
<nav class="navbar navbar-expand-sm navbar-light bg-warning  shadow fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="" alt="icon"> PalSika</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Items in the Navbar -->
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll fs-4" style="--bs-scroll-height: 100px;">
                <!-- Item -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'app:home' %}">Home</a>
                </li>
                <!-- Item -->
                <li class="nav-item">
                    <a class="nav-link  active" aria-current="page"  href="{% url 'app:products' %}" aria-disabled="true">Products</a>
                </li>
                <!-- Item -->
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
                </li>
            </ul>
            <!-- Login Item -->
            <ul class="navbar-nav justify-content-end fs-4">
                {% if user_session  %}
                <li><a href="{% url 'app:logout_process' %}" id="logoutButton" class="text-dark pointer text-decoration-none">
                    
                    Welcome, {{user_session.first_name}} {{user_session.last_name}} 
                    <i class="bi bi-box-arrow-right" title="Logout"></i>
                </a></li>
                        
                        {% else %}
                        <li><span id="loginButton" class="text-dark pointer">
                            <img src="" alt="">
                            <i class="bi bi-people-fill"></i>
                            Login
                        </span></li>
                        {% endif %}

            </ul>
            <!-- Search Item  -->
            <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>